.edit-card{
  width: 400px;
}

.center-container-radio{
  display: flex;
  justify-content: center;
}

.form-label{
  font-size: 18px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

.radio-scale{
  font-weight: 400;
  margin-right: 10px;
}
