<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer mode="push">
    <mat-list>
      <mat-list-item routerLink="/dashboard" (click)="drawer.close()">Domů</mat-list-item>
      <mat-list-item routerLink="/activities" (click)="drawer.close()">Aktivity</mat-list-item>
      <mat-list-item routerLink="/contacts" (click)="drawer.close()">Kontakty</mat-list-item>
      <mat-list-item routerLink="/measures" (click)="drawer.close()">Opatření</mat-list-item>
      <mat-list-item routerLink="/info" (click)="drawer.close()">Info</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
        <span>COVID VAROVÁNÍ CZ</span>
        <span class="spacer"></span>
        <button mat-icon-button routerLink="/dashboard"><mat-icon *ngIf="alert" [ngClass]="['alert-icon', alert.class]">warning</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
<!--    <div class="center-container">-->
    <router-outlet></router-outlet>
<!--    </div>-->
  </mat-drawer-content>
</mat-drawer-container>
